body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: lightyellow;
}

h1 {
    text-align: center;
}

.ingredients.list {
    background-color: white;
}

.steps.list {
    background-color: white;
}

#description {
    background-color: white;
    font-size: 17px;
}